/* 主页的index.html的样式表 */

/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度 */
    height: 40px;
    /* 设置背景颜色 */
    background-color: #333;
    /* 设置行高 */
    line-height: 40px;
}

/* 设置超链接的颜色 */
.topbar a{
    display: block;
    font-size: 12px;
    color: #b0b0b0;
}

/* 设置超链接移入的效果 */
.topbar a:hover{
    color: white;
}

/* 设置竖线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}

/* 设置左侧导航栏 */
.service, .topbar li{
    float: left;
}

.app{
    position: relative;
}

/* 设置APP下的小三角 */
.app::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    /* 设置四个方向的边框 */
    border: 10px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下拉框的颜色 */
    border-bottom-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* 设置下载APP的下拉 */
.app .qrcode{
    width: 124px;
    height: 148px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0,0,0,.3);
}

/* 设置二维码图片的格式 */
.app .qrcode img{
    width: 90px;
    margin: 0 17px;
    margin-top: 17px;
}

/* 设置右侧导航栏 */
.shop-cart, .user-info{
    float: right;
}

/* 向右移动26个像素 */
.shop-cart{
    margin-left: 26px;
}

/* 鼠标移入后出现的效果 */
.shop-cart a:hover{
    background-color: white;
    color: #ff6700;
}


/* 设置购物车的样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}

/* 设置中间的header */
.header{
    height: 100px;
}

.header .logo{
    float: left;
}

.header .logo .a{
    display: block;
    width: 55px;
    height: 55px;
    background-color: red;
}
